  <div class="tag">
    <slot />
  </div>

<style lang="scss">
  .tag {
    cursor: pointer;
    font-size: var(--fz-text-secondary);
    display: flex;
    padding: 4px 8px;
    background: var(--color-red-light);
    border: 1px solid var(--color-red-normal);
    border-radius: 4px;
    white-space: nowrap;
    color: var(--color-neutral-13);

    &:hover {
      background: var(--color-red-light-hover);
      border-color: var(--color-red-normal-hover);
      color: var(--color-neutral-13);
    }
  }

  @include from-sm {
    .tag {
      padding: 4px 12px;
    }
  }

  @include theme-dark {
    .tag {
      background: var(--color-green-dark);
      border: 1px solid var(--color-green-normal);
      color: var(--color-neutral-0);

      &:hover {
        background: var(--color-green-dark-hover);
        border-color: var(--color-green-normal-hover);
        color: var(--color-neutral-0);
      }
    }
  }
</style>
