---
interface Props {
  bold?: boolean;
  italic?: boolean;
  secondary?: boolean;
}

const classes = Astro.props;
---

<div
  class:list={classes}
  class="text"
>
  <slot />
</div>

<style lang="scss">
  .text {
    display: block;
    font-size: var(--fz-text);
    line-height: 120%;
    letter-spacing: 0.27px;

    &.bold {
      font-weight: 600;
    }

    &.italic {
      font-style: italic;
    }

    &.secondary {
      font-size: var(--fz-text-secondary);
      letter-spacing: 0.21px;
    }
  }
</style>
